export(mlp)
export(mlp.default)
export(rbf)
export(rbf.default)
export(rbfDDA)
export(rbfDDA.default)
export(elman)
export(elman.default)
export(jordan)
export(jordan.default)
useDynLib(RSNNS, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
export(print.rsnns)
export(summary.rsnns)
export(predict.rsnns)
export(plotIterativeError)
export(SnnsR__createFullyConnectedFeedForwardNet)
export(SnnsR__createNet)
export(SnnsR__createElmanNet)
export(SnnsR__createJordanNet)
export(SnnsR__initializeNet)
export(SnnsR__setUnitDefaults)
export(SnnsR__createPatterns)
export(SnnsR__predictValuesCurrPatSet)
export(SnnsR__somPredictCurrPatSet)
export(SnnsR__somPredictCurrPatSetWinners)
export(SnnsR__somPredictCurrPatSetWinnersSpanTree)
export(SnnsR__train)
export(som)
export(som.default)
export(decodeClassLabels)
export(plotROC)
export(plotRegressionError)
