export(art1)
export(art1.default)
export(art2)
export(art2.default)
export(assoz)
export(assoz.default)
export(dlvq)
export(dlvq.default)
export(elman)
export(elman.default)
export(jordan)
export(jordan.default)
export(mlp)
export(mlp.default)
export(rbf)
export(rbf.default)
export(rbfDDA)
export(rbfDDA.default)
export(plotIterativeError)
export(decodeClassLabels)
export(plotROC)
export(plotRegressionError)
useDynLib(RSNNS, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
export(print.rsnns)
export(summary.rsnns)
export(predict.rsnns)
export(SnnsR__createNet)
export(SnnsR__initializeNet)
export(SnnsR__setUnitDefaults)
export(SnnsR__createPatSet)
export(SnnsR__genericPredictCurrPatSet)
export(SnnsR__predictCurrPatSet)
export(SnnsR__somPredictComponentMaps)
export(SnnsR__somPredictCurrPatSetWinners)
export(SnnsR__somPredictCurrPatSetWinnersSpanTree)
export(SnnsR__train)
export(SnnsRObjectFactory)
export(som)
export(som.default)
