export(art1)
export(art1.default)
export(art2)
export(art2.default)
export(assoz)
export(assoz.default)
export(dlvq)
export(dlvq.default)
export(elman)
export(elman.default)
export(jordan)
export(jordan.default)
export(mlp)
export(mlp.default)
S3method(mlp, default)
export(inputColumns)
export(outputColumns)
export(rbf)
export(rbf.default)
export(rbfDDA)
export(rbfDDA.default)
export(splitForTrainingAndTest)
export(plotIterativeError)
export(decodeClassLabels)
export(encodeClassLabels)
export(analyzeClassification)
export(confusionMatrix)
export(plotROC)
export(plotRegressionError)
useDynLib(RSNNS, .registration=TRUE)
export(print.rsnns)
S3method(print, rsnns)
export(summary.rsnns)
S3method(summary, rsnns)
S3method(predict, rsnns)
export(predict.rsnns)
export(SnnsRObjectFactory)
export(som)
export(som.default)
